@using FlexWalletSelfService.Web.Abstractions.Models
@model WalletFundTransfer
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>
     
    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0  text-primary"> <p><ccenter> @ViewBag.Message</ccenter></p></h6>
                    <div class="dropdown no-arrow">
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form asp-controller="Home" asp-action="FundTransfer" method="post">
                    <div class="input-group mb-3">
                        <select class="form-control" aria-label="Server">
                            <option selected>Select Account</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <span class="">&nbsp;&nbsp;&nbsp;</span>
                            <input name="TransactionAmount" type="number" class="form-control" placeholder="Enter Amount" aria-label="Server">
                    </div>
                    <br />
                    <div class="input-group mb-3">
                        <input name="TransactionAccount" type="text" class="form-control" placeholder="Enter Account Number" aria-label="Username">
                        <span class="">&nbsp;&nbsp;&nbsp;</span>
                            <select name="TransactionBankName" class="form-control" aria-label="Server">
                            <option selected>Select Bank</option>
                            <option value="Gt Bank">Gt Bank</option>
                            <option value="Zenith Bank">Zenith Bank</option>
                            <option value="First Bank">First Bank</option>
                        </select>
                    </div>
                    <br />
                    <div class="input-group mb-3">
                            <input name="TransactionAccountName" type="text" class="form-control" placeholder="Enter Account Name" aria-label="Username">
                        <span class="">&nbsp;&nbsp;&nbsp;</span>
                        <input disabled value="5%" type="text" class="form-control" placeholder="VAT" aria-label="Server">
                    </div>
                    <br />

                        <input type="submit" class="btn btn-primary" />
                   
                    </form>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
      
    </div>

    

</div>
