@using FlexWalletSelfService.Web.Abstractions.Models
@using FlexWalletSelfService.Web.Helpers
 

@model WalletUserLogin
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Account Login</h1>
</div>
<form asp-controller="Account" asp-action="Login" method="post">
    
    <div class="form-group">
        <input asp-for="Email" type="email" class="form-control form-control-user" id="exampleInputEmail"
               placeholder="Email Address" required>
    </div>
    <div class="form-group">
        <input asp-for="Password" type="password" class="form-control form-control-user"
               id="exampleInputPassword" placeholder="Password" required>
    </div>
   
    <input value="Login"  type="submit" class="btn btn-primary btn-user btn-block">
       
    <hr>
    <p><ccenter> @ViewBag.Message</ccenter></p>
    <br />
    <br />
    <br />
</form>

<hr>

<div class="text-center">
    <a class="small" href="/Account/Register">Need an Account? Create Account!</a>
</div>
