

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Account Login</h1>
</div>
<form class="user">
    
    <div class="form-group">
        <input type="email" class="form-control form-control-user" id="exampleInputEmail"
               placeholder="Email Address">
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user"
               id="exampleInputPassword" placeholder="Password">
    </div>
   
    <a href="login.html" class="btn btn-primary btn-user btn-block">
        Login 
    </a>
    <hr>
    <br />
    <br />
    <br />
</form>

<hr>

<div class="text-center">
    <a class="small" href="/Account/Register">Need an Account? Create Account!</a>
</div>
